.menu_btn {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu_btn__burger {
  width: 30px;
  height: 2px;
  background: black;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu_btn__burger::before,
.menu_btn__burger::after {
  content: "" !important;
  position: absolute !important;
  width: 30px;
  height: 2px;
  background: black;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu_btn__burger::before {
  transform: translateY(-10px) !important;
}
.menu_btn__burger::after {
  transform: translateY(10px) !important;
}
/* ANIMATION */
.menu_btn__burger.open {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu_btn__burger.open::before {
  transform: rotate(45deg) translate(35px, -35px) !important ;
}
.menu_btn__burger.open::after {
  transform: rotate(-45deg) translate(35px, 35px) !important;
}

.icon {
  color: white;
}
.link_items {
  height: auto;
}
@media only screen and (max-width: 768px) {
  .link_items {
    height: 0;
    overflow: hidden;
  }
  .link_items_show {
    height: auto;
  }
}
.hover_underline_animation {
  position: relative;
}
.hover_underline_animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #26a69a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.active {
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #26a69a;
  transform-origin: bottom right;
}
.hover_underline_animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
